AirportListerXMLSchema.xsd

<?xml version="1.0"?>
<schema xmlns='http://www.w3.org/2001/XMLSchema'>
  <element name="products">
    <complexType>
      <sequence>
        <element ref="vendor" minOccurs='1'
        maxOccurs='unbounded'/>
      </sequence>
    </complexType>
  </element>
  <element name="vendor">
    <complexType>
      <sequence>
        <element ref="vendor_name" minOccurs='1'
        maxOccurs='1'/>
        <element ref="product" minOccurs='0'
        maxOccurs='unbounded'/>
      </sequence>
      <attribute name="webvendor" type="string"/>
    </complexType>
  </element>
  <element name="vendor_name" type='string'/>
  <element name="product" type='string'/>
</schema>